.items {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  .item {
    background: var(--white);
    box-shadow: var(--box-shadow-y);
    padding: 0.4rem 1rem;
    display: flex;
    flex-direction: column;
    grid-area: 0.4rem;
    border-radius: 0.5rem;
    width: 100%;
    border: var(--border);
    &:hover {
      box-shadow: var(--box-shadow-x);
      border-color: var(--primary);
    }
    cursor: pointer;
    i {
      font-size: 2rem;
      color: var(--primary);
    }
    p {
      font-size: 12px;
      color: #8e8c8c;
      margin: 0;
    }
    h3 {
      color: #626262;
    }
  }
}
