nav {
  height: 100vh;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-right: var(--border);
  padding: 1.5rem;
  position: relative;
  padding-top: 3rem;
  transition: .5s ease-in-out;
  @media only screen and (max-width: 600px) {
   position: absolute;
   z-index: 1000;
   top: 0;
   left: 0;
   width: 80%;
   transform: translateX(-100%);
   opacity: 0;
  }

  header {
    border-right: none;
    display: flex;
    align-items: center;
    background: var(--white);
  }
}

.visible{
  @media only screen and (max-width: 600px) {
    transform: translateX(0);
    opacity: 1;
  }
}