<div class="card slide-from-bottom">
  <h3><i class="bi bi-database"></i> App db tables</h3>
  <br />
  <table>
    <tbody>
      <tr *ngFor="let table of tables; let i = index">
        <td>
          <span (click)="table.open = !table.open">
            <i class="bi bi-table"></i> {{ table.name }}</span
          >

          <table *ngIf="table.open" style="background: rgb(229, 249, 252)">
            <tbody>
              <tr
                style="background: rgb(229, 249, 252)"
                *ngFor="let col of table.columns; let i = index"
              >
                <td>
                  <i class="bi bi-dot" *ngIf="!col.Key"></i>
                  <i
                    class="bi bi-key"
                    style="color: rgb(167, 109, 3)"
                    *ngIf="col.Key"
                  ></i>
                  {{ col.Field }}: {{ col.Type }} {{ col.Extra }}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
