<div class="admin-form" *ngIf="product">
    <app-back-heading [heading]="'Edit '+ product.name" [url]="back" />
  
    <br />
    <div>
      <label>Name: </label>
      <input type="text" [(ngModel)]="product.name" name="name" required />
  
      <label>Description: </label>
      <textarea
        [(ngModel)]="product.description"
        name="description"
        required
      ></textarea>
  
      <label>Price: </label>
      <input type="number" [(ngModel)]="product.price" name="price" required />
  
      <div class="mb-2">
        <label>Image: </label>
        <app-upload-input [parentItem]="product" imageKey="image_url" />
      </div>
      <!-- Add more fields as needed -->
  
      <button (click)="updateProduct()">Save Product</button>
    </div>
  </div>
  