.main-grid{
    display: grid;
    grid-template-columns: 200px auto 420px;
    gap: 30px;
    @media only screen and (max-width: 600px) {
        grid-template-columns: 100%;
        padding: 10px;
    }
}
