:root {
  // Light Theme

  --default-font-family: "Poppins", sans-serif;
  --default-body-bg-color: #f3f3f3;
  --white: #fff;
  --black: #000000;
  --black-light: #181818;
  --cloud: #f5f5f5;
  --grey: #9b9b9b;
  --primary: #f4bc1d;
  --info: #4d73f2;
  --box-shadow: 0.125rem 0.125rem 0.0025rem rgba(0, 0, 0, 0.03);
  --box-shadow-x: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.03);
  --box-shadow-y: 0.125rem 0 0.25rem rgba(0, 0, 0, 0.03);
  --border: 1px solid rgb(222, 222, 222);

  // Dark theme
  --default-font-family: "Poppins", sans-serif;
  --default-body-bg-color: #181818;
  --white: #000;
  --black: #fff;
  --black-light: #303030;
  --cloud: #111;
  --info: #4d73f2;
  --box-shadow: 0.125rem 0.125rem 0.0025rem rgba(255, 255, 255, 0.03);
  --box-shadow-x: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.03);
  --box-shadow-y: 0.125rem 0 0.25rem rgba(255, 255, 255, 0.03);
  --border: 1px solid rgb(33, 33, 33);
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--default-font-family);
  background: var(--default-body-bg-color);
  color: var(--grey);
  overflow-x: hidden;
  overflow-y: auto;
}
img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
a {
  text-decoration: none;
}
a.link-info {
  color: var(--info);
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.card {
  background: var(--white);
  box-shadow: var(--box-shadow-y);
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  @media only screen and (max-width: 600px) {
    background: none;
    box-shadow: none;
  }
}
p,
td,
th,
label {
  font-size: 0.75rem;
}
header {
  height: 4rem;
  background: var(--white);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: var(--border);
  padding: 1rem;
  border-right: var(--border);
  padding-left: 1.5rem;
}
.profile {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  object-fit: contain;
}
.w-100 {
  width: 100%;
}
.capitalize {
  text-transform: capitalize;
}

.pointer {
  cursor: pointer;
}

.menu-button {
  font-size: 1rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 1px 6px;
  border-radius: 8px;
  display: none;
  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
.mt-2 {
  margin-top: 2rem;
}

.text-center {
  width: 100%;
  text-align: center;
}

.border {
  border: var(--border);
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.863);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media only screen and (max-width: 600px) {
    justify-content: flex-end;
  }
  .modal {
    background: white;
    border-radius: 9px;
    width: 100%;
    max-width: 600px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      border-radius: 10px 10px 0 0;
      animation: slideFromBottom 0.4s ease-in-out forwards;
      opacity: 0;
      padding-bottom: 3rem;
    }
    .body,
    .title {
      padding: 1rem;
    }
    .body {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .title {
      border-bottom: 1px solid #d5d5d5;
    }
  }
}

.p-2 {
  padding: 1rem 2rem;
}
.p-1 {
  padding: 1rem;
}
