.grid-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1rem;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }
}
.d-block {
  display: block;
  width: 100%;
}
.d-flex {
  display: flex;
  align-items: center;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gap-1 {
  gap: 1rem;
}

// DASHBORD

.layout {
  display: grid;
  grid-template-columns: 250px auto;
  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;
  }

  main {
    padding: 1.5rem;
    overflow: hidden;
    max-height: 100vh;
    // max-width: 1200px;
    position: relative;
    padding-top: 5rem;
    @media only screen and (max-width: 600px) {
      padding: 0.5rem;
      padding-top: 4.5rem;
    }
  }
  .main {
    max-height: 94vh;
    overflow: auto;
    padding-bottom: 2rem !important;
  }
  header {
    width: 100%;
    justify-content: space-between;
  }
}

.space-between{
  justify-content: space-between;
}