/* generic-list.component.css */

table {
  width: 100%;
  border-spacing: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  thead {
    td,
    th {
      user-select: none;
    }
  }
}

th,
td {
  border: 1px solid var(--cloud);
  text-align: left;
  padding: 8px;
}

// tr:nth-child(even) {
//   background-color: var(--default-body-bg-color)
// }

tr:hover {
  background-color: var(--cloud);
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  table {
    display: block;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 4rem;
    tbody {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  thead {
    display: none;
  }

  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 0;
    img {
      width: 100% !important;
      height: 8rem !important;
      border-radius: 8px !important;
    }
  }

  td {
    border-bottom: 1px solid var(--cloud);
  }

  tr {
    margin-bottom: 10px;
    background: var(--cloud);
    padding: 5px;
    box-shadow: var(--box-shadow-x);
    border: var(--border);
    border-radius: 5px;
  }
}

/* generic-list.component.css */

/* Add styles as needed */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 5px;
  input,
  button {
    margin: 0;
  }
}

/* Rest of the existing styles */
