<!-- src/app/login/login.component.html -->
<div class="form">
  <div class="d-flex-center"><app-logo height="5rem" /></div>

  <h2 class="text-center">Login</h2>
  <br>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Email:</label>
      <input type="text" id="username" formControlName="username" />
      <!-- <div class="input-error" *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
        Username is required.
      </div> -->
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <!-- <div class="input-error" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
        Password is required.
      </div> -->
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <a class="d-block mt-2" routerLink="/sign-up">Don't have an account? Sign up</a>
  </form>
  <app-toast *ngIf="showError" [message]="errorMessage" type="error"></app-toast>
</div>
